*{
    padding: 0;
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: #eee;
}

/*内层容器*/
.container{
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 8px;
    background-color: #eee;
    clear: both;
}


/*canvas设置*/
.drawing{
    position: absolute;
    top: 0px;
    left: 0px;  
    z-index: 100;
}

/*左边部分设置*/
.partLeft{
    position: relative;
    margin-top: 0.5%;
    margin-left: 3.5%;
    width: 23%;
    display: inline-block;
}

/*左边选项设置*/
.partLeft > p{
        width: 89%;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-right: 4%;
    text-align: right;
    margin: 0;
    margin-bottom: 4%;
    font-family: 微软雅黑;
    font-size: 220%;
    border: 2px #006555 solid;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
}

/*左边选项圆点设置*/
.partLeft>p:before{
    content: " ";
    position: absolute;
    top: 43%;   
    left: 96.6%;
    width: 6.2%;
    height: 19%;
    background-color: #f8a200;
    border-radius: 20px;
}

/*右边选择模块的*/
.partRight{
        position: relative;
    margin-top: -42.1%;
    margin-left: 40.5%;
    width: 60%;
}


/*右边选项设置*/
.partRight > p{
        width: 93%;
    padding-top: 3.066%;
    padding-bottom: 3.066%;
    padding-left: 1.534%;
    text-align: left;
    margin: 0;
    margin-bottom: 1.533%;
    font-family: 微软雅黑;
    font-size: 220%;
    border: 2px #006555 solid;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
}

/*选项圆点设置*/
.partRight>p:before{
    content: " ";
    position: absolute;
    top: 42%;
    left: -1.4%;
    width: 2.2%;
    height: 19%;
    background-color: #f8a200;
    border-radius: 20px;
}

/*提交按键的样式设置*/
.submitBtn{
    background-image: url("pic/submitBtn.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    width: 15%;
    height: 5%;
    clear: both;
    padding: 3%;
    text-align: center;
    padding-top: 4%;
    margin-left: 79%;
    margin-top: -2%;
    font-family: 微软雅黑;
    font-size: 230%;
    color: white;
    z-index: 101;
}

/*最外层容器样式*/
.bigger {
    width: 100%;
    height: 100%;
    transform: rotate(90deg);
    -ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	 /*Firefox */
    -webkit-transform:rotate(90deg);
    margin: 0;
    padding: 0;
    background-color: #eee;
    position: relative;
    top: 18.45%;
    left: -30%;
}

h2 {
    font-family:微软雅黑;
    font-weight: 700;
    font-size: 310%;
    color: #006555;
    margin-left: 2%;  
    background-image: url(pic/title.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding: 4%;
    padding-left: 9%;
}

/*提示图片背景*/
.dialogBlack{
    position: fixed;
    width: 101%;
    height: 101%;
    top: -1%;
    left: 0;
    background-color: #444;
    opacity: 0.5;
    background-size: 100% 100%;
    z-index:102;
}



/*提示内容设置*/
.dialog{
    position: fixed;
    width: 101%;
    height: 101%;
    top: -1%;
    left: 0;
    background-image: url(./pic/right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    z-index: 103;
}


/*提示内容显示*/
.littleTip{
    width: 36%;
    height: 10%;
    position: relative;
    margin-left: 40%;
    background-image: url(./pic/tip.png);
    background-size: 100% 100%;   
    z-index: 102;
}
